@import "../sass-assets/vars.scss";

.hero {
  grid-column: 2 / span 4;
  padding: 60px 0;

  &__font {
    color: $light;
    //font-family: "Lato", sans-serif;
    //1font-family: 'Fredoka', sans-serif;
    //2font-family: 'Smooch Sans', sans-serif; 
   //3 font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: $fw-bg;
    font-size: $fs-xbg;
  }

  .icons {
    display: flex;
    margin-top: 55px;
    

    .icon {
      display: flex;
      align-items: center;

      &__info {
        margin: 0 80px 0 20px;
      }

      &__top {
        font-size: $fs-md;
        font-weight: $fw-md;
        margin-bottom: 5px;
      }

      &__bottom {
        font-size: $fs-bg;
        font-weight: $fw-bg;
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .icon {
    &__img {
      height: 60px;
      width: auto;
    }

    &__top {
      font-size: $fs-sm;
    }

    &__bottom {
      font-size: $fs-md1;
    }
  }

  .hero__font {
    font-size: $fs-bg1;
  }
}

@media only screen and (max-width: $xsmall) {
  .hero {
    padding: 20px 0;
    grid-column: 2 / span 10;
    
  }
  .hero__font {
    font-size: 2.9rem;
  }

  .icons {
    flex-direction: column;
    flex-wrap: wrap;

    .icon {
      margin-bottom: 20px;
    }
  }
}
