@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap");

@import "./components/sass-assets/vars.scss";

:root {
  --accent: #304659;
  --accentHover: #304659;
  --dark: #304659;
  --dark80: rgba(48, 70, 89, 0.8);
  --dark60: rgba(48, 70, 89, 0.6);
  --dark95: rgba(48, 70, 89, 0.95);
  --light: #f5f9fc;
  --light2: #f5f9fcb7;
  --transition: all 0.3s ease 0s;
}

//* box sizings
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//* fonts
* {
  font-family: "Smooch Sans", sans-serif;
  color: $light;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.App:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 755px;
  z-index: -10;
  background:  linear-gradient(#41576ae4, #41576a), url(./assets/Volvo.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  // min-height: 100vh;
  // max-height: 100%;
  // //overflow: auto;
  // background: linear-gradient(#41576ae4, #41576a), url(./assets/Volvo.jpg);
  // background-position: 33% 33%;
  // //background-attachment: fixed;
  // //background-repeat: no-repeat;
  // //background-size: auto;
}

ul {
  list-style-type: none;
}

input {
  font-size: $fs-md;
}

a,
.logo {
  cursor: pointer;
}

@media only screen and (max-width: $small) {
  .App {
    background-position: 56% 39%;
  }
}
