@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

@import './components/sass-assets/vars.scss';

:root {
  --accent: #304659;
  --accentHover: #304659;
  --dark: #304659;
  --dark80: rgba(48, 70, 89, 0.8);
  --dark60: rgba(48, 70, 89, 0.6);
  --light: #f5f9fc;
  --light2: #f5f9fcb7;
  --transition: all 0.3s ease 0s;
}


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  max-height: 100%;
  overflow: auto;
  background: linear-gradient($dark60, $dark60),
    url(./assets/Volvo.jpg);
  background: cover;
  
  background-position: 33% 33%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
}

p,
a,h1,h2,h3,h5{
  font-family: 'Smooch Sans', sans-serif;
  color: $light;
  letter-spacing: 1.2px;
  text-decoration: none;
}

input {
  font-family: 'Smooch Sans', sans-serif;
  font-size: $fs-md; //! problemoooooo
}

a,
.logo {
  cursor: pointer;
}

@media only screen and (max-width: $small) {

    .App {
        background-position: 56% 39%;
    }
  }