@import "../../components/sass-assets/vars.scss";

.inventory {
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(1fr, 190px)) minmax(
      60px,
      1fr
    );
  grid-template-rows: 120px 1fr;

  &__grid {
    grid-column: 2 / span 6;
    background-color: $dark80;
    padding: 30px 30px 50px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: start;
    border-radius: 3px;
    justify-content: space-between;

    .display {
      width: 68%;
    }
  }

  .filter__menu {
    display: none;
    background-color: $dark80;
    padding: 5px 12px;
    position: fixed;
    top: 93%;
    height: 7%;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &__item {
      width: 80%;
      margin: auto;
      text-align: center;
    }
  }

}
  
  @media only screen and (max-width: $medium) {
  .display {
    width: 100% !important;
  }

  .inventory__grid {
    grid-column: 1 / span 12;
  }

  .filter__menu {
    display: flex !important;
  }
}


@media only screen and (min-width: 1820px) {
  .inventory {
   background: linear-gradient(#41576a, #41576a), url(../../assets/Volvo.jpg);
  }
 }
 