@import "../../components/sass-assets/vars.scss";
@import "../../components/sass-assets/vars.scss";

.inventory {
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(1fr, 190px)) minmax(
      60px,
      1fr
    );
  grid-template-rows: 120px 1fr;

  &__grid {
    
    grid-column: 2 / span 6;
    background-color: $dark80;
    padding: 30px 30px 50px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: start;
    border-radius: 3px;
    justify-content: space-between;

    .filter {
      width: 28%;
      padding: 10px;  
      & h3 {
        font-size: $fs-bg;
        font-weight: $fw-bg;
        padding: 4px 0;
      }
  
      & h5 {
        font-size: $fs-sm;
        font-weight: $fw-md;
        padding-bottom: 5px;
      }
     
      .quick_search {
        &__input {
          form {
            position: relative;
          }
          input, button {
            height: 2rem;
            border: 1px solid $light;
            background-color: transparent;
            color: $light;
          }

          input {
            font-size: $fs-md;
            font-weight: $fw-md;
          }
         
          button {
            &>p {
              color: $dark;
              margin-top: -12px;
            }  
          }
          
          
          input[type="search"] {
            // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
            width: 100%;
            //background: #fff;//! try with out this shit decide which is better
            padding: 0 1.6rem;
            // border-radius: 0.7rem;
            appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
            transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
            transition-property: width, border-radius;
            z-index: 1;
            position: relative;
          }
          button {
            display: none; // prevent being able to tab to it
            position: absolute;
            top: 4px;
            right: 0;
            width: 3rem;
            background: #fff;
            border-radius: 0 3px 3px 0;
          }
          input:not(:placeholder-shown) {
            border-radius: 3px 0 0 3px;
            
            width: calc(100% - 3rem);
            + button {
              display: block;
            }
          }
          label {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
            padding: 0;
            border: 0;
            height: 1px;
            width: 1px;
            overflow: hidden;
            
          }
        }
      }

      .sorting {
        &__buttons {
          display: flex;
          padding: 5px 0 3px 0;
          gap: 5px;
          &__button {
            font-size: $fs-sm;
            
          }
        }
        
      }

      .filtering {
        &__button {
          margin: 4px 0;
          font-size: $fs-sm;
          &:focus {
            background:white; color: $button-dark;
          }
        }
      }
    }
      
      .display {
        width: 68%;
    }
  }
}


@media only screen and (max-width: $medium) {
  .filter {
    display: none;
  }

  .display {
    width: 100% !important;
  }

  .inventory__grid {
    grid-column: 1 / span 12;
  }
}