@import '../../components/sass-assets/vars.scss';

.homepage__ {
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(1fr, 190px)) minmax(
      60px,
      1fr
    );
  grid-template-rows: 120px 1fr;
  background: linear-gradient(rgba(48, 70, 89, 0.6), rgba(48, 70, 89, 0.6)),
     url(../../assets/Volvo.jpg);
     background-position: 33% 33%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
}

main {
  grid-column: 1 / span 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

@media only screen and (max-width: 1100px) {
  .homepage__{
    background-position: 48% 33%;
    background-size:  cover;
  }
}

@media only screen and (max-width: $small) {

  main {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}


@media only screen and (min-width: 1820px) {
  .homepage__ {
   background: linear-gradient(#41576a, #41576a), url(../../assets/Volvo.jpg);
  }
 }
 